<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Insider.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB4D065D25B8AA6900C4AB18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4D067625B8AA6C00C4AB18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4D068125B8AA6C00C4AB18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
